<a href="https://colab.research.google.com/github/sforceas/machine-learning/blob/master/ML_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Pandas Series, es una estructura muy similar a diccionaros o excel, donde tenemos los indices y la información.
Se escribe de la misma forma que un arreglo en numpy.
**pd.Series(['A','B','C'])**

In [2]:
series = pd.Series(['A','B','C','D','E'])
print(series)
type(series)

0    A
1    B
2    C
3    D
4    E
dtype: object

pandas.core.series.Series

Para acceder a los datos de una Serie de pandas indicamos el indice.
**series[indice]**

In [3]:
print(series[1])
print(series[1:])
print(series[:1])
print(series[1:3])

B
1    B
2    C
3    D
4    E
dtype: object
0    A
dtype: object
1    B
2    C
dtype: object

El uso mas comun de pandas es el DataFrame. Podemos crear DataFrames, muy similares a tablas SQL o hojas de Excel, a partir de listas o diccionarios mediante el método **pd.DataFrame(lista)** o **pd.DataFrame(dict)**

In [4]:
lst = ['H','o','l','a','m','u','n','d','o']
df_lst = pd.DataFrame(lst)
df_lst

   0
0  H
1  o
2  l
3  a
4  m
5  u
6  n
7  d
8  o

In [5]:
data = {
    'Nombre': ['Juan','Ana','Jose','Arturo'],
    'Edad' : [25,35,65,19],
    'Pais': ['MX','CO','BR','ES']
}
df_data = pd.DataFrame(data)
df_data

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    35   CO
2    Jose    65   BR
3  Arturo    19   ES

Podemos mandar imprimir unicamente determinadas columnas con **print(df[['Columna1','Columna3']])**

In [6]:
print(df_data[['Nombre','Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   CO
2    Jose   BR
3  Arturo   ES

Tambien podemos crear un DataFrame a partir de un archivo CSV con **pd.read_CSV**

In [7]:
df_canciones = pd.read_csv('canciones-2018.csv')
df_canciones.head(5) #mostramos solo

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

También podemos crear dataframes a partir de una columna de otro dataframe con el formato **df.nombre_columna**

In [8]:
artista = df_canciones.artists
print(artista)
artista[5]

0            Drake
1     XXXTENTACION
2      Post Malone
3      Post Malone
4            Drake
          ...
95       Zac Efron
96    Clean Bandit
97       DJ Khaled
98            ZAYN
99      Dean Lewis
Name: artists, Length: 100, dtype: object

'Post Malone'

Para poder conocer el tamaño del dataframe podemos usar el método shape, donde nos mostrara las FILAS y las COLUMNAS del df. **df.shape**

In [9]:
df_canciones.shape

(100, 16)

También podemos usar el método columns para conocer los nombres de las columnas de nuestro dataframe. **df.columns**

In [10]:
df_canciones.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

También podemos saber la descripción de los stats de una columna con **df['columna'].describe**

In [13]:
df_canciones['tempo'].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

También podemos ordenar los datos segun el índice del df con **df.sort_index(axis=0,ascending=True/False)**

In [18]:
df_canciones.sort_index(axis=0,ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

O bien ordenar segun los valodes de una columna con **df.sort_values('columna')**

In [22]:
df_canciones.sort_values('energy',ascending=True)

                       id  ... time_signature
80  0u2P5u6lvoDfwTYjAADbn  ...            4.0
84  1bhUWB0zJMIKr9yVPrkEu  ...            3.0
38  7AFASza1mXqntmGtbxXpr  ...            4.0
91  6vN77lE9LK6HP2DewaN6H  ...            4.0
52  1mXVgsBdtIVeCLJnSnmtd  ...            4.0
..                    ...  ...            ...
7   7ef4DlsgrMEH11cDZd32M  ...            4.0
9   08bNPGLD8AhKpnnERrAc6  ...            4.0
34  2hl6q70unbviGo3g1R7uF  ...            4.0
77  4QtiVmuA88tPQiCOHZuQ5  ...            4.0
12  3CA9pLiwRIGtUBiMjbZmR  ...            4.0

[100 rows x 16 columns]